@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");


*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, h1, h2 {
    margin: 0;
    padding: 0;
    max-width: 950px;
    margin: 0 auto;
    font-family: 'Source Sans Pro';
}

body,
html {
  width: 100%;
  height: 100%;
   font-family: "Source Sans Pro", sans-serif;
}

header, #main-post, .about-content{
    padding: 0 1.2em;
}

/*TYPOGRAPHY*/
h1,
h2,
.footer-blog-name,
.intro-post-text__paragrah-title, .main-post__paragrah-title,
.recent-posts, .about-me-container {
    font-weight: 900;
}

.main-post__paragrah-title {
    font-weight: 800px;
    font-size: 1.5rem;
}

.about-me-container h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    color: #151515;
}

.about-me-container p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #151515;
}

.blog-bold {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #151515;
}

.blog-par {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #151515;
}

a {
    text-decoration: none;
    color: inherit;
 }

 .demoLinks {
    color: blue;
 }

 .blog:hover {
    background-color: lightyellow;
 }

 .blog {
    transition: color 0.3s ease;
 }

/*NAVBAR*/

.nav {
    padding: 0 1.2em;
}

.nav{
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: white;
  
}

.logo img {
    width: 20vh;  
}

.menu ul{
    display: flex;    
    gap: 1em;
}

.menu li {
    margin-left: 20px;
    list-style: none;
    font-size:  0.75rem;
}

.menu a {
  color: #333;
  text-decoration: none;
}

/*HERO*/

.hero-section {
    position: relative;   
}

.hero-image-container {
  background: #FAFAFA;
  padding-bottom: 1em;
}

.hero-mobile-image {
  width: 100%;
}

.hero-text {
  position: absolute;
  bottom: 15%;
  padding: 0 2em;
  min-width: 100px;
  color: white
}

.hero-paragrah{
     padding-right: 3em;
}

.hero-date {
    font-size: 0.75rem;
    padding-bottom: 0.7em;
    font-weight: 200;
}

/*BLOG FEED SECTION*/

.recent-posts{
    text-align: center; 
}

.blog-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5em;
    margin-bottom: 1.6em;
}

.blog-feed img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog {
    padding: 1em 1em;
}

/*FOOTER*/

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #202020;
    color: white;
    font-size: 0.75rem;
    padding: 2em 0;
}

/*MAIN POST*/

.main-post {
    min-width: 100px;
    padding: 0 5%;
}

.main-post img {
    width: 400px;
    height: auto;
    object-fit: cover;
    padding: 0; 
    padding-top: 2em;
}

.main-post h1 {
    padding-top: 1em;
}

.main-post p {
    padding-top: 1.2em;
}

/*ABOUT ME PAGE*/

.container {
    margin: 1.25rem;
}

.intro-section {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.profile-pic {
    height: 182px;
    width: 182px;
    border-radius: 50%;
}

/*MEDIA QUERIES*/

@media (min-width: 760px) {
    .blog-feed {
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 3em;
    }
}

@media (min-width: 576px) {
    .intro-section {
        flex-direction: row;
        column-gap: 40px;
    }

}
